.bg-myNavBg {
    background-color: crimson;
}

.footerContent {
    color: aliceblue;
}

.footerList li {
    display: inline;
    padding-right: 3%;
    
}
.footerList li a {
    text-decoration: none;
}
.projectCard{
    margin-top: 75px;
}